# להתעלם מכל node_modules, בכל מקום בפרויקט
node_modules/

# קבצים שקשורים ל-VSCode
.vscode/

# קבצים שקשורים ל-Mac או מערכת הפעלה אחרת
.DS_Store

# תיקיות build והפלט של הפרויקט
dist/
build/

# קבצים פרטיים
.env
