html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
     /* מבטל גלילה אופקית בכל המסך */
    box-sizing: border-box;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f5f7fa;
    border-radius: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #be4b1a;
    border-radius: 8px;
    border: 2px solid #f5f7fa;
  }
